/* Your styles here */
*,html{
    margin:0 auto;
    font-size:1em;
}

.container{margin:0 auto;
    
}
h1,p,a{font-size:0.8rem}

.logo{background-color: #222f3f;
    margin:0 auto;
   

  }
article h1{text-align: left;
margin-bottom:40px;
margin-top:40px;}

.barra-selezione{
    display: inline-block;
    align-items: left;
    background-color: #364759;
    width:100%;
   }
   .barra-selezione div{
    display: inline-block;
    text-align: left;
    color:white;
    padding: 10px;
   }


   .barra-arancio{background-color: #f56600;
margin-top:40px;
margin-bottom:40px;
text-align: center;
color:white;
}


  .gift-ground{
    background-image: url("../images/bg-image.png");
    background-repeat: no-repeat;
    
    text-align:center;
    padding-top:40px;
    color: #FFFFFF;
    width:100%;
    }

    .gift-ground2{
        background-repeat: no-repeat;
       
        text-align:center;
        background-image:url("../images/bg-image.png") ;
    height: 50px;
    
        background-color: rgba(47,109,94,255);
    color: #FFFFFF;}


    .allineaquattro{ display: inline-block;
       
        text-align:center;
        margin: 20px 0;
        padding: 20px;
        }

        .allineaquattro div{display: inline-block;
            }

        .allineaquattro img{border-radius:15px;}

        .gifting{text-align: center;}

        .sound{text-align: center;}



        .logo2{background-color: #222f3f;
            margin:0 auto;
           text-align: center ;
          
           
          }

          .barra-top{ text-align: center;
            background-color: #364759;
            }